


  <div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Check Product Review
            <p class="lead"></p>
          </h1>
        </div>
        
      </div> 
    </div><!-- /cont -->
    
    
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            <hr>
            <div class="row" >    
                <br>
                <div class="col-md-2 col-sm-3 text-center">
                  <a class="story-title" href="#"><img src="https://m.media-amazon.com/images/I/61-fgBdNvkL._AC_SL1000_.jpg" style="width:100px;height:100px" class="img-circle"></a>
                </div>
                <div class="col-md-10 col-sm-9">
                  <h3>Dream Catcher</h3>
                  <div class="row">
                    <div class="col-xs-9">
                      <h4><span class="label label-default">Seller : Name</span></h4><h4>
                      <small style="font-family:courier,'new courier';" class="text-muted">Material: Materials Used </small>
                      
                      
                        <a routerLink="/checkreview/viewReview" class="btn btn-success ">Check Product Review</a>
                      
                      </h4></div>
                    <div class="col-xs-3"></div>
                  </div>
                  <br><br>
                </div>
              </div>
              <hr>
            
            <hr>
            
            
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
                                                  
                                                                                  
  
  
  <hr>
  
  
      <!-- script references -->
          <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
          <script src="js/bootstrap.min.js"></script>

