<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>KraftsBazar
          <p class="lead"></p>
        </h1>
      </div>
      <!-- <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
            
            </div>
          </div>
        </div>
      </div> -->
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>
<div class="cards row row-cols-1 row-cols-md-2 row-cols-md-3">
    <div class="card" style="width: 21rem;">
        <img src="https://cdn0.iconfinder.com/data/icons/human-resource-1-2/66/47-512.png" class="card-img-top" alt="Validation">
        <div class="card-body">
          <h5 class="card-title">Validate Product</h5>
          <p class="card-text">Verify the products that seller wants to sell.</p>
          <a href="/validate" class="btn btn-success">View</a>
        </div>
      </div>
      <div class="card" style="width: 21rem;">
        <img src="https://cdn3.iconfinder.com/data/icons/e-commerce-website-1/64/Review-product-512.png" class="card-img-top" alt="Review">
        <div class="card-body">
          <h5 class="card-title">Check Reviews</h5>
          <p class="card-text">Check review and see if any harmful or inappropriate comments.</p>
          <a href="/checkreview" class="btn btn-success">View</a>
        </div>
      </div>
      <div class="card" style="width: 21rem;">
        <img src="https://cdn1.iconfinder.com/data/icons/app-user-interface-glyph/64/user_man_user_interface_app_person-512.png" class="card-img-top" alt="User">
        <div class="card-body">
          <h5 class="card-title">User Profile</h5>
          <p class="card-text">View your profile.</p>
          <a href="/user" class="btn btn-success">View</a>
        </div>
      </div>
</div>
