
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
header {
  box-shadow: 5px 5px 8px black;
}

.navbar-form input, .form-inline input {
  width:auto;
}
.navbar,a {
    font-family:'Oswald',arial narrow,sans-serif;

  }
  
  
.navbar.affix {
    position:fixed;
    top:0;
    width:100%;
  }
.navbar-bright {
    background-color:rgba(0, 0, 0, 0.959);
    

    color:#fff;
    margin-bottom: 0;
    border-width: 0;
  }
  
  .navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
    color:#ccccdd;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing:.08em;
  }
  
  
  .navbar-toggle {
    color:#fff;
    border-width:0;
  }
  
  .navbar-toggle:hover {
    background-color:#fff;
  }