<div class="container foot" id="footer">
    <hr>
    <div class="row">
      <div class="col col-sm-12">
        
        <h1>Follow Us</h1>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
         <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
         <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
        
      </div>
    </div>
  </div>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li>
              <i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>
          
          
        </div>
        
        <div >
            <div class="copyright">
          
                <h5 style="text-align: center;">© 2021 Copyright: 
                    <a href="./index.html" class="link" style="text-decoration: none; color: blanchedalmond;">KraftsBazar</a> </h5>
        
            </div>     
        </div>
      </div>
    </div>
  </footer>
